%nav-styles {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

header {
  position: relative;
}

.options-open {
  @extend %nav-styles;
  text-transform: uppercase;
  width: 100%;
  height: 400px;
  text-align: center;
  position: absolute;
  top: 100%;
  z-index: 1;
  padding: 1rem 0;
  background: url('../images/bg-pattern-mobile-nav.svg') $dark-violet no-repeat bottom/100% 180px;

  button {
    width: 70%;
    margin: 1rem auto 0;
    font-size: 14px;
  }
}

.header-links {
  display: flex;
  align-items: center;

  .options {
    display: none;
  }

  .icon {
    margin-left: auto;
  }

  .close {
    display: none;
  }

  a {
    text-decoration: none;
    color: $very-light-grey;
    padding: 14px 18px;
  }
}

.footer-links {
  @extend %nav-styles;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;

  h3 {
    color: $dark-greyish-violet;
  }

  nav {
    @extend %nav-styles;
    margin: 1.2rem 0;
  }

  a {
    text-decoration: none;
    color: $very-dark-violet;
    line-height: 1.5;
    padding: 3px 0;
  }
}

footer {
  margin-top: 5rem;
  position: relative;
  background-color: hsl(273, 4%, 97%);

  div:first-child {
    background: url('../images/bg-pattern-footer-mobile.svg') top left/100% 90%
      no-repeat;
    text-align: center;
    margin: 2rem 0;
    padding: 4rem 0 1rem;
    line-height: 3;

    &::after {
      @extend %border-styles;
      bottom: 74%;
      width: 80%;
    }
  }

  .social {
    letter-spacing: 10px;
  }
}
