@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@import 'base';
@import 'button';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family-body;
  max-width: 100%;
  background-color: $very-light-grey;
}

header {
  display: flex;
  padding: 1rem;
  align-items: center;

  nav {
    margin-left: auto;
  }
}

.header-links {
  li,
  button {
    display: none;
  }
}

.hero {
  .hero-image {
    background-image: url('../images/image-intro-mobile.jpg');
    width: 100%;
    height: 450px;
  }

  .hero-text {
    height: 390px;
    text-align: center;
    padding: 5rem 1rem 1rem;
    text-align: center;
    background-color: $dark-violet;
    color: $very-light-grey;

    h1 {
      font-weight: 400;
      font-family: $font-family-headings;
      font-size: 32px;
      margin-bottom: 0.6rem;
      line-height: 1.1;
      letter-spacing: 1px;
    }

    p {
      font-size: 12px;
      line-height: 1.6;
      letter-spacing: 1px;
    }
  }
}

// we're different
.brand-details {
  margin: 6rem 0 3rem;
  padding: 1.3rem 1rem;
  text-align: center;
  position: relative;

  h2 {
    font-size: 36px;
  }

  h2,
  h3 {
    font-family: $font-family-headings;
    color: $very-dark-violet;
    font-weight: 400;
  }

  p {
    color: $dark-greyish-violet;
  }

  .borderline {
    &::before {
      background-color: $greyish-blue;
      top: 0;
      content: '';
      height: 1px;
      left: 50%;
      position: absolute;
      transform: translate(-50%, 0);
      width: 100px;
      margin-bottom: 1rem;
    }
  }

  .brand-details-content {
    margin: 3rem 0;

    img {
      margin-bottom: 1.5rem;
      width: 22%;
    }

    h3 {
      margin-bottom: 1rem;
      font-size: 22px;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}

// call to action
.call-to-action {
  background-color: $dark-violet;
  margin: 0 1.5rem;
  color: $very-light-grey;
  text-align: center;
  padding: 3rem 1rem 4rem;

  h2 {
    font-family: $font-family-headings;
    font-size: 34px;
  }
}

// footer
footer {
  margin-top: 5rem;
}